
.container {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;

  }
  
  .form {
    margin-bottom: 20px;
  }
  
  .input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  .button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .deleteButton {
    padding: 5px 10px;
    background-color: #DC3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .deleteButton:hover{
    background-color: #d61d2f;
  }
  .editButton {
    padding: 5px 10px;
    background-color: #079c14;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .editButton:hover{
    background-color: #078011;
  }
  .permisosButton{
    padding: 5px 10px;
    background-color: #1136da;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .permisosButton:hover{
    background-color: #0e2fc0;
  }
  /* Tabla */
  .table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
    position: absolute;
    top: 100px;
    left: 120px;
  }

  .td {
    padding: 10px;
    border: 1px solid black;
  }
  
  .table td {
    padding: 10px;
    border: 1px solid black;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:hover {
    background-color: #e1ecf9;
  }

.tableTitulos{
  background-color: #bebebe;
}
.newButton {
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  position: absolute;
  top: 40px;
  left: 50px;
}

.newButton:hover {
  background-color: #0056b3;
}

.registroHuellas{
  padding: 5px 10px;
  background-color: #1136da;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.registroHuellas:hover{
  background-color: #0e2fc0;
}
/* Modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1001;
  width: 50%;
  max-width: 400px;
  min-width: 300px;
}

.input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: #28a745;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #218838;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cancelButton:hover {
  background-color: #c82333;
}


.noDatos {
  text-align: center;
  color: #777;
  padding: 10px;
}
